.wrapper-header {
  display: flex;
  flex-direction: column;
  background: url('http://www194.lunapic.com/do-not-link-here-use-hosting-instead/15028111535986?1936211921');
  background-size: cover;
  background-position: center;
}

.content {
  background-color: #F9F6F6;
}
