.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  background-color: orange;
  margin: 0;
  height: 2em;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.navbar li a {
  text-decoration: none;
  margin: 0 1em;
}
